{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TonFlood - Start</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vulnerabilities/css/style.css' %}">
</head>

<body>
<canvas id="bg"></canvas>

<div class="scroll-container">

    <section class="section hero">
        <div class="hero-inner">
            <h1>TonFlood</h1>
            <div class="UltraDDoS">Start Right Here And Now!</div>
        </div>
    </section>

    <section class="section core-wrap">

        <div class="core-block">

            <div class="top">
                <button class="start-btn">START</button>
                <input class="target" type="text" placeholder="TARGET">
            </div>

            <div class="terminal">
                <div class="log" id="log">
                    > system ready<br>
                </div>
            </div>
            
        </div>

    </section>

    <footer class="site-footer">
        <div class="footer-inner">
            <span class="footer-coord">ASYNC ENGINE</span>
            <span class="footer-title">TONFLOOD</span>
            <span class="footer-coord">SINGLE NODE</span>
        </div>
        <div class="footer-sub">ASYNC TRAFFIC SIMULATION WITH REALISTIC LOAD AND HIGH-PERFORMANCE EXECUTION</div>
    </footer>
</div>

<script src="{% static 'vulnerabilities/js/start.js' %}" defer></script>
</body>
</html>